@font-face{
font-family: Raleway;
src: url(fonts/Raleway-Medium.ttf);
}

html, body{
    margin: 0;
    padding: 0;
}
.wrap{
    /* max-width: 1440px; */
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: green; */
}
.header__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: rgba(225, 237, 230, 1);
}
.header__element1{
    display: flex;
    align-items: center;
    margin: 35px 0 35px /* 15px */;

    color: rgba(89, 141, 102, 1);
font-family: "Raleway";
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}
.header__element1 h5{
    margin: 0 0 0 5px;
}
.header__block ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header__block a{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;

text-decoration: none;
margin-left: 60px;
}

/* content1 */

.content1__block{
display: flex;
flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content1__element{
    margin: 145px 30px;
align-items: center;
}
.content1__element h1{
    margin: 0;

    font-family: "Raleway";
font-style: Medium;
font-size: 60px;
font-weight: 500;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
}
.content1__element span{
    color: #598d66;
}

.content1__element p{
    margin: 20px 0 60px 0;

    color: rgba(134, 146, 139, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.content1__element button{
    box-sizing: border-box;
border: 1px solid rgba(89, 141, 102, 1);
padding: 20px 60px 20px 60px;

color: rgba(89, 141, 102, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}

/* content2 */
.content2__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content2__block h2{
    margin: 60px 0 30px 15px;

    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 40px;
font-weight: 500;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
}
.content2 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* align-items: center; */
    /* margin-right: 15px; */
    margin: 60px 0 30px 15px;
}

.btn{
    margin-left: 30px;
border-radius: 20px;
background: rgba(212, 232, 217, 1);
padding: 10px 20px 10px 20px;
}
.check_btn{
    border-radius: 20px;
    background: rgba(55, 107, 68, 1);
    color: rgba(244, 246, 245, 1);
    padding: 10px 20px 10px 20px;
}
/* catalog */
.catalog{
    margin-bottom: 70px;
}
.catalog__block{
    display: grid;
    grid-template-columns: repeat(3, 350px, 730px);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    grid-template-areas: 
    "cat1 cat2 cat3"
    "cat4 cat5 cat6"
    ;
    padding: 0 15px;
}
.catalog__element{
    background: rgba(225, 237, 230, 1);
    padding: 20px 20px 30px 20px;
}
.catalog__element h4{
    color: rgba(134, 146, 139, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
margin: 20px 0 10px 0;
}
.catalog__element h2{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 30px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0%;
text-align: left;
margin: 0 0 10px 0;
}
.catalog__element h5{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
margin: 0 0 10px 0;
}
.catalog__element h3{
    color: rgba(89, 141, 102, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;

}
.catalog__element button{
    box-sizing: border-box;
border: 1px solid rgba(89, 141, 102, 1);
padding: 20px 60px;
/* возможно стоит убрать */
width: 310px;
height: 65px;

color: rgba(89, 141, 102, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/* как сделать чтобы текст переностился */
/* как сделать затемнение слева */

.promo__block{
    background-image: url(images/bg_4.jpg);
background-repeat: no-repeat;
padding: 70px 15px;
display: flex;
flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.promo__element{
    /* padding: 70px 0 20px 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.promo__element h2{
    color: rgba(244, 246, 245, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 40px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin: 0;
}
.promo__block p{
    color: rgba(255, 255, 255, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-right: 585px;
}
.promo__block button{
    /* margin-bottom: 70px; */
    /* margin: 60px 0 70px 0; */
    background: rgba(238, 219, 109, 1);
    color: rgba(44, 45, 53, 1);
padding: 20px 60px;

font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* comand */
.comand__block{
    padding: 70px 15px;
    display: flex;
    align-items: center;
    gap: 30px;

}

.comand__element{
    display: flex;
    flex-direction: column;
    margin-top: 124px;
}

.comand__element h2{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 40px;
font-weight: 500;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
margin: 0;
}
.comand__element p{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.comand__element--photo img{
    margin: 20px 30px 44px 0;
}

/* footer */
.footer__block{
    background: rgba(225, 237, 230, 1);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 23px 15px;
}
.footer__about{
    display: inline-flex;
}
.footer__about ul{
color: rgba(134, 146, 139, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 0;
margin: 0 38px 0 0;
list-style: none;
}
.hdr{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}
.footer__about li{
    margin-bottom: 6px;
}
.footer__lbl{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer__lbl h5{
    color: rgba(89, 141, 102, 1);
font-family: "Raleway";
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin: 6px 8px;
}
.footer__phon h5{
    color: rgba(44, 45, 53, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin: 41px 0 8px 0;
}
.footer__phon h6{
color: rgba(134, 146, 139, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
margin: 0;
}
.footer__soc img{
    margin: 0 0 10px 30px;
    /* margin-left: 30px; */
}

.footer__soc h6{
    color: rgba(134, 146, 139, 1);
font-family: "Raleway";
font-style: Medium;
font-size: 12px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin: 0 0 6px 30px;
}